<div class="sidebar" [class.collapsed]="!open">
  <div class="sidebar-inner">
    <div class="menu-items">
      <a *ngFor="let item of menuItems"
         [routerLink]="item.route"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
         class="menu-item">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span *ngIf="open">{{ item.label }}</span>
      </a>
    </div>

    <div class="bottom-menu">
      <a class="menu-item"
         [class.active]="activeItem === 'sign out'"
         (click)="setActive('sign out'); handleLogout()">
        <mat-icon>logout</mat-icon>
        <span *ngIf="open">Sign out</span>
      </a>
    </div>
  </div>
</div>
