<aside class="sidebar" [class.collapsed]="!open">
  <div class="sidebar-inner">
    <div class="menu-items">
      @for (item of menuItems; track item.route) {
        <a
          [routerLink]="item.route"
          class="menu-item"
          [class.active]="activeItem === item.route"
          (click)="setActive(item.route)">
          <mat-icon>{{ item.icon }}</mat-icon>
          @if (open) {
            <span>{{ item.label }}</span>
          }
        </a>
      }
    </div>

    <div class="bottom-menu">
      <a class="menu-item" [routerLink]="'/signout'">
        <mat-icon>exit_to_app</mat-icon>
        @if (open) {
          <span>Sign out</span>
        }
      </a>
    </div>
  </div>
</aside>
