.home-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
  height: calc(100vh - 64px);
}

.home-content {
  margin-left: 200px;
  flex: 1;
  padding: 24px;
  background-color: #f9f9f9;
  overflow-y: auto;
  height: 100%;
  transition: margin-left 0.3s ease;
}

.home-content.collapsed {
  margin-left: 70px;
}
