<h2 mat-dialog-title class="dialog-title">Create New Profile</h2>

<div class="create-profile-container">
  <form class="profile-form">
    <div class="form-row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="profile.email" name="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>User Name</mat-label>
        <input matInput [(ngModel)]="profile.name" name="name" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Joined Rooms (%)</mat-label>
        <input matInput type="number" [(ngModel)]="profile.joinedRooms" name="joinedRooms" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Events Participated</mat-label>
        <input matInput type="number" [(ngModel)]="profile.events" name="events" />
      </mat-form-field>
    </div>

    <div class="form-actions">
      <button mat-stroked-button color="basic" (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="createProfile()">Create</button>
    </div>

  </form>
</div>
