<mat-card class="card-container" (click)="openDialog()" style="cursor: pointer;">
  <div class="image-wrapper">
    <img mat-card-image [src]="safeImageUrl" alt="Event Image" />
  </div>


  <mat-card-content class="content">
    <div class="date">
      <div class="month">{{ getMonthLabel() }}</div>
      <div class="day">{{ getDayLabel() }}</div>
    </div>
    <div class="info">
      <div class="title">{{ title }}</div>
      <div class="desc">{{ description }}</div>
    </div>
  </mat-card-content>
</mat-card>
