<!-- DISCUSSION SECTION -->
<section class="section">
  <div class="section-header">
    <h2>Discussion</h2>
    <button mat-button class="see-more" (click)="goToRoomPage()">See more</button>
  </div>

  <div class="scroll-wrapper">
    <button class="scroll-btn left" (click)="scrollLeft('room')">❮</button>

    <div class="card-list" #roomScroll>
      @for (room of rooms; track room.id) {
        <app-card-room [room]="room" />
      }
    </div>

    <button class="scroll-btn right" (click)="scrollRight('room')">❯</button>
  </div>
</section>

<!-- EVENT SECTION -->
<section class="section">
  <div class="section-header full-width">
    <h2>Event</h2>

    <div class="timeline-wrapper-inline">
      <app-timeline-component
        class="timeline-inline"
        [events]="events"
        [selectedDate]="selectedDate"
        [timeMode]="timeMode"
      ></app-timeline-component>
    </div>

    <button mat-button class="see-more" (click)="goToEventPage()">See more</button>
  </div>

  <!-- Event Cards -->
  <div class="scroll-wrapper">
    <button class="scroll-btn left" (click)="scrollLeft('event')">❮</button>
    <div class="card-list" #eventScroll>
      @for (e of eventsOfSelectedDate; track e.id) {
        <app-card-event [event]="e" />
      }
    </div>
    <button class="scroll-btn right" (click)="scrollRight('event')">❯</button>
  </div>
</section>



