<div class="page-wrapper">
  <div class="toolbar">
    <div class="toolbar-left">
      <button mat-icon-button (click)="goBack()" class="back-button" matTooltip="Back">
        <mat-icon fontIcon="chevron_left"></mat-icon>
      </button>
      <h2>Event</h2>
      <div class="chip-row">
        @for (tag of availableTags; track tag) {
          <mat-chip
            (click)="filterByTag(tag)"
            [ngClass]="{ 'active-chip': selectedTag === tag }">
            {{ tag }}
          </mat-chip>
        }
        @if (selectedTag) {
          <mat-chip (click)="clearFilter()" color="warn">Clear</mat-chip>
        }
      </div>
    </div>

    <div class="toolbar-right">
      <button mat-raised-button color="primary" class="create-btn" (click)="openCreateDialog()">
        <mat-icon>add</mat-icon> Create
      </button>

      <div class="search-bar">
        <mat-icon>search</mat-icon>
        <input [(ngModel)]="searchTerm" (input)="applyFilter()" placeholder="Event Searching..." />
      </div>
    </div>
  </div>

  <div class="card-area">
    <div class="card-grid">
      @for (card of pagedEvents; track card.id) {
        <mat-card
          class="card-container"
          [ngClass]="{ 'card-inactive': card.is_hidden }"
          (click)="openDialog(card)"
          style="cursor: pointer;"
        >
          <div class="image-wrapper">
            <img mat-card-image [src]="card.image_url" alt="Event Image" />
          </div>

          <mat-card-content class="content">
            <div class="date">
              <div class="month">{{ card.start_time | date: 'MMM' | uppercase }}</div>
              <div class="day">{{ card.start_time | date: 'd' }}</div>
            </div>

            <div class="info">
              <div class="title">{{ card.title }}</div>
              <div class="desc">{{ card.description || 'No description.' }}</div>

              @if (card.is_hidden) {
                <div class="hidden-label">Hidden Event</div>
              }
            </div>
          </mat-card-content>
        </mat-card>
      }
    </div>
  </div>

  <div class="paginator-wrapper">
    <mat-paginator
      [length]="filteredEvents.length"
      [pageSize]="cardsPerPage"
      [pageSizeOptions]="[4, 8]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
