<mat-card class="room-card">
  <div class="room-image" [ngStyle]="{ 'background-image': 'url(' + room.image_url + ')' }">
    <!--    <div class="room-tag">Uncategorized</div>-->
  </div>

  <mat-card-content>
    <h3 class="room-title">{{ room.name|| 'Unnamed Room' }}</h3>
    <p class="room-description">{{ room.description }}</p>
  </mat-card-content>

  <mat-card-actions class="room-footer">
    <div class="participants">
      <mat-icon>group</mat-icon>
      <span>{{ activeCount }} people</span>
    </div>
    <button mat-raised-button color="primary" (click)="goToChatRoom()">View</button>
  </mat-card-actions>
</mat-card>
