<app-topbar></app-topbar>

<div class="home-wrapper">
  <app-sidebar></app-sidebar>

  <main class="home-content">
    <section class="section">
      <h2>Discussion</h2>
      <div class="card-list">
        @for (room of rooms; track $index) {
          <app-card-room [room]="room" />
        }
      </div>
    </section>

    <section class="section">
      <h2>Event</h2>
      <div class="card-list">
        @for (event of events; track event.id) {
          <app-card-event
            [label]="event.title"
            [imageUrl]="event.image_url ?? ''"/>
        }
      </div>
    </section>
  </main>
</div>
