<div class="sidebar" [class.collapsed]="!open">
  <div class="sidebar-inner">
    <div class="menu-items">
      @for (item of menuItems; track item.route) {
        <a
          [routerLink]="item.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
          class="menu-item">
          <mat-icon>{{ item.icon }}</mat-icon>
          @if (open) {
            <span class="menu-text">{{ item.label }}</span>
          }
        </a>
      }
    </div>

    <div class="bottom-menu">
      <a
        role="button"
        class="menu-item"
        [class.active]="activeItem === 'sign out'"
        (click)="setActive('sign out'); handleLogout()">
        <mat-icon>logout</mat-icon>
        @if (open) {
          <span class="menu-text">Sign out</span>
        }
      </a>
    </div>
  </div>
</div>
