<div class="create-event-container">
  <div class="upload-section">
    <img *ngIf="eventImage" [src]="eventImage" class="cover-img"  alt="event img"/>
    <div *ngIf="!eventImage" class="cover-placeholder">Chưa có ảnh sự kiện</div>
    <button mat-icon-button (click)="fileInput.click()" class="upload-btn">
      <mat-icon>upload</mat-icon>
    </button>
    <input type="file" hidden #fileInput (change)="onImageChange($event)" />
  </div>

  <form class="form-section">
    <mat-form-field appearance="outline">
      <mat-label>Tên sự kiện</mat-label>
      <input matInput [(ngModel)]="event.title" name="title" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="narrow-description">
      <mat-label>Mô tả</mat-label>
      <input matInput rows="4" [(ngModel)]="event.description" name="description">
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Địa điểm</mat-label>
      <input matInput [(ngModel)]="event.location" name="location" />
    </mat-form-field>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Ngày bắt đầu</mat-label>
        <input matInput [matDatepicker]="startPicker" [(ngModel)]="event.startDate" name="startDate" />
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Giờ bắt đầu</mat-label>
        <input matInput type="time" [(ngModel)]="event.startTime" name="startTime" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Ngày kết thúc</mat-label>
        <input matInput [matDatepicker]="endPicker" [(ngModel)]="event.endDate" name="endDate" />
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Giờ kết thúc</mat-label>
        <input matInput type="time" [(ngModel)]="event.endTime" name="endTime" />
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Hạn đăng ký</mat-label>
      <input matInput [matDatepicker]="regPicker" [(ngModel)]="event.registerDeadline" name="registerDeadline" />
      <mat-datepicker-toggle matSuffix [for]="regPicker"></mat-datepicker-toggle>
      <mat-datepicker #regPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Số người tối đa</mat-label>
      <input matInput type="number" [(ngModel)]="event.maxAttendees" name="maxAttendees" />
    </mat-form-field>

    <div class="actions">
      <button mat-stroked-button color="warn" (click)="dialogRef.close()">Hủy</button>
      <button mat-raised-button color="primary" (click)="createEvent()">Tạo sự kiện</button>
    </div>
  </form>
</div>
