<mat-toolbar class="topbar">
  <div class="left-section">
    <button mat-icon-button (click)="onMenuClick()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="brand" (click)="goToHome()" style="cursor: pointer;">NEWWORD</h1>
  </div>

  <div class="right-section">
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    <div class="avatar" (click)="goToProfile()" style="cursor: pointer;">
      <img [src]="avatarUrl" alt="User avatar" width="40" height="40" style="border-radius: 50%;" />
    </div>
  </div>
</mat-toolbar>
